.header-img {
  padding: 12px 56px 13px 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(112, 112, 112, 0.2);
}

.sign-in {
  display: flex;
  gap: 45px;
  align-items: center;
}
.header-button {
  padding: 6px 21.368px 6px 21.7px;
  border-radius: 24px;
  border: 1px solid var(--Secondary-500, #3460dc);
  background: #fff;
  color: var(--Secondary-500, #3460dc);
  text-align: center;
  font: 600 13px/20px "Lato-Bold", sans-serif;
  cursor: pointer;
}

.navigation {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0px 4px 8px 0px rgba(12, 0, 51, 0.1);
  margin-bottom: 4px;
}
.menu {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  margin-bottom: 10px;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  padding: 8px 9.671px 10px 10px;
  color: var(--Neutral-700, #334155);
  text-align: center;
  font: 400 14px/19px Lato, sans-serif;
}
@media only screen and (max-width: 531px) {
  .menu {
    gap: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
  .nav-link {
    padding: 0;
    font-size: 14px;
  }
  .header-img {
    padding-left: 20px;
    padding-right: 20px;
  }
  .sign-in {
    gap: 10px;
  }
}
@media only screen and (min-width: 532px) and (max-width: 750px) {
  .menu {
    gap: 0;
  }
  .nav-link {
    padding: 2px;
  }
  .menu {
    gap: 6px;
  }
  .navigation {
    display: inline;
    margin: 0 auto;
    font-size: 12px;
  }
}
